@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --bg: #bfd9cd;
  --border: #5d8aa6 2px solid;
  --text: #26191e;
  --blue: #5d8aa6;
  --incorrect: #ff4444;
  --correct: #82ff8f;
}

html {
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > h1 {
  font-size: 2rem;
  margin: 1.5rem 0 2rem 0;
}

.options {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
}

.options:hover {
  cursor: pointer;
  box-shadow: 5px 5px 7px 0px rgba(48, 102, 109, 1);
  transform: translateY(-0.1rem);
  transition: transform 200ms;
}

.choice-prefix {
  padding: 1.5rem;
  text-align: center;
  background-color: var(--blue);
}

.choice-text {
  width: 100%;
  padding: 1.5rem;
}

.correct {
  background-color: var(--correct);
}

.incorrect {
  background-color: var(--incorrect);
}

/* HUD */

.hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix,
.hud-text {
  text-align: center;
}

.hud-prefix {
  font-size: 1.5rem;
}

.hud-text {
  color: var(--blue);
  font-size: 2rem;
}

/* LOADER */
#loader {
  width: 8rem;
  height: 8rem;
  border: white solid 1.2rem;
  border-top: var(--text) solid 1.2rem;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
